body {
    background-color: rgb(0, 0, 0);
    color: aliceblue;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  header {
    text-align: center;
    font-weight: 900;
    font-size: larger;
    color: rgb(255, 0, 0);
    text-shadow: rgba(255, 0, 0, 1) 0px 0px 30px;
  }
  /* Navigation bar */
  .navbar {
    background-color: rgb(37, 35, 32);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
  }
  .navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .navbar ul li {
    display: inline-block;
    padding: 10px 20px;
  }
  .navbar ul li a {
    text-decoration: none;
    color: aqua;
  }
  .navbar ul li:hover {
    background-color: #ca4848;
    border-radius: 20px;
  }
  #active {
    background-color: rgb(0, 205, 246);
    border-radius: 10px;
  }
  #activenow {
    color: rgb(25, 0, 255);
  }
  /*end nav bar*/
  
  
   /*search 2 */
  .search {
    display: inline-block;
    position: relative;
    padding-left: 20px;
  }
  .search input[type="text"] {
    width: 200px;
    padding: 10px;
    border: none;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .search button[type="submit"] {
    background-color: #4e99e9;
    border: none;
    color: #fff;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 0;
    right: 0;
    transition: .9s ease;
  }
  .search button[type="submit"]:hover {
    transform: scale(1.1);
    color: rgb(255, 255, 255);
    background-color: blue;
  }
  /* heading*/
  .heading {
    color: aqua;
    padding: 5px 40px;
    text-align: center;
  }



















































  /*button*/
  .btn-conteiner {
    display: flex;
    justify-content:end;
    --color-text: #ffffff;
    --color-background: #ff135a;
    --color-outline: #ff145b80;
    --color-shadow: #00000080;
  }
  
  .btn-content {
    display: flex;
    align-items: center;
    padding: 5px 30px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 30px;
    color: var(--color-text);
    background: var(--color-background);
    transition: 1s;
    border-radius: 100px;
    box-shadow: 0 0 0.2em 0 var(--color-background);
  }
  
  .btn-content:hover, .btn-content:focus {
    transition: 0.5s;
    -webkit-animation: btn-content 1s;
    animation: btn-content 1s;
    outline: 0.1em solid transparent;
    outline-offset: 0.2em;
    box-shadow: 0 0 0.4em 0 var(--color-background);
  }
  
  .btn-content .icon-arrow {
    transition: 0.5s;
    margin-right: 0px;
    transform: scale(0.6);
  }
  
  .btn-content:hover .icon-arrow {
    transition: 0.5s;
    margin-right: 25px;
  }
  
  .icon-arrow {
    width: 20px;
    margin-left: 15px;
    position: relative;
    top: 6%;
  }
    
  /* SVG */
  #arrow-icon-one {
    transition: 0.4s;
    transform: translateX(-60%);
  }
  
  #arrow-icon-two {
    transition: 0.5s;
    transform: translateX(-30%);
  }
  
  .btn-content:hover #arrow-icon-three {
    animation: color_anim 1s infinite 0.2s;
  }
  
  .btn-content:hover #arrow-icon-one {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.6s;
  }
  
  .btn-content:hover #arrow-icon-two {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.4s;
  }
  
  /* SVG animations */
  @keyframes color_anim {
    0% {
      fill: white;
    }
  
    50% {
      fill: var(--color-background);
    }
  
    100% {
      fill: white;
    }
  }
  
  /* Button animations */
  @-webkit-keyframes btn-content {
    0% {
      outline: 0.2em solid var(--color-background);
      outline-offset: 0;
    }
  }
  
  @keyframes btn-content {
    0% {
      outline: 0.2em solid var(--color-background);
      outline-offset: 0;
    }
  }

/*drop down*/
.chapters-navigation {
  display: f; /* Initially hide the chapter list */
}

.show-button {
  cursor: pointer;
  border-radius: 30px;
  justify-content: stretch;
}
.chapters-navigation li a{
  text-decoration: none;
  color: #ff135a;
}
.chapters-navigation {
  background-color: #252020;
  border-radius: 40px;
  border-width: 10px;
}





/*images*/
.manga{
  position: relative;
}



img {
  max-width: 100%; /* Set maximum width to 100% of the parent element */
  height: auto; /* Maintain aspect ratio */
  position:;
  left: 0;
}















